/* .wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  background-color: rgba(139, 139, 139, 0.569);
  width: 500px;
  padding: 30px;
  margin: auto;
} */

@media screen and (max-width: 478px) {
  .userMenuList {
    gap: 15px;
  }
}

@media screen and (min-width: 320px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(139, 139, 139, 0.569);
    padding: 30px;
    margin: auto;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 500px;
  }
}
