.nav {
}

.userMenuList {
  display: flex;
  gap: 50px;
  padding: 32px 0;

  list-style: none;
  padding-left: 0;
  margin: 0;
}

.userMenuItem {
  width: inherit;
  height: inherit;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 32px 0;
}

.navLink:hover {
  color: rgb(39, 185, 248);
  transition: 150ms linear;
}

@media screen and (max-width: 768px) {
  .userMenuList {
    gap: 15px;
  }
}
